.section {
    &__admin-controls {
        margin: 0;
        margin-top: 32px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px black solid;

        .input-wrapper {
            margin: auto;
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            width: 500px;
            .input-text {
                max-width: 50%;
            }
            @media screen and ($tablet) {
                margin-left: auto;
                flex-direction: row;
                justify-content: space-between;
                label {
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }
        }
        &__title {
            font-size: $largeFontSize;
            margin: 0px 0 25px 0;
        }
        .table {
            margin-top: 12px;
        }
        #block-input {
            text-align: center;
            color: $darkError;
        }
        #global-help {
            display: inline;
            position: absolute;
            top: 1230px;
            left: auto;
            right: 225px;
            @media screen and ($tablet) {
            }
            @media screen and ($desktop) {
            }
        }
        #log-input {
            text-align: center;
            color: $success;
        }
        #moderator-input {
            text-align: center;
            color: $success;
        }
    }
}

@mixin button-do-something-big-on-table {
    @include button();
    font-size: $smallFontSize;
    margin: 0;
    background-color: $error;
    font-weight: 500;
    max-width: 64px;
    @media screen and ($tablet) {
        max-width: 100%;
        font-size: $smallFontSize;
        padding: 0 5px 0;
        font-weight: 1000;
    }
}

.button-unblock {
    @include button-do-something-big-on-table;
}

.button-remove-moderator {
    @include button-do-something-big-on-table;
}

.button-add-moderator-to-category {
    @include button-do-something-big-on-table;
    background-color: $success;
}

#admin_control_panel {
    width: 250px;
    height: auto;
    padding-left: 25px;

    line-height: 50px;
    font-size: $largeFontSize;

    border-radius: 15px;

    @media screen and ($desktop) {
        position: fixed;
        line-height: 30px;
        font-size: $largeFontSize;
        border: 2px $lightHighlightColor solid;

        border-radius: 15px;

        top: 100px;
        left: 20px;

        background-color: $secondaryColor;
        color: $primaryColor;
        a {
            color: $primaryColor;
            font-weight: 1000;
            &:hover {
                color: $highlightColor;
            }
        }

        transition: $transitionQuick;

        opacity: 0.1;
        &:hover {
            opacity: 1;
        }
    }
}

.paging-log {
    border: 1px #aeaeae outset;
    max-width: 90%;
    border-radius: 5px;
    padding: 10px;
    margin: 32px auto;

    @media screen and ($tablet) {
        width: 700px;
        border-radius: 15px;
        padding: 16px;
    }

    &-info {
        margin: auto;
        text-align: center;
        width: 90%;
        font-size: $smallFontSize;
        @media screen and ($tablet) {
            font-size: $extraFontSize;
        }
    }

    &-controls {
        display: flex;
        justify-content: space-between;

        progress {
            width: 100px;
            @media screen and ($tablet) {
                width: auto;
            }
        }

        button {
            border-radius: 5px;
            padding: 1px 5px;
            min-width: 32px;
            min-height: 32px;
            font-size: $smallFontSize;
            border: 1px $highlightColor thick;
            background-color: $brightBorder;

            @media screen and ($tablet) {
                width: 150px;
                border-radius: 15px;
                padding: 2px 25px;
                width: auto;
                min-height: 32px;
                font-size: $defaultFontSize;
            }

            &:hover {
                background-color: $highlightColor;
                cursor: pointer;
            }

            &:first-of-type,
            &:last-of-type {
                width: auto;
                @media screen and ($tablet) {
                    width: 200px;
                }
            }
        }
    }
}
