.section {
    &__damage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-figure {
            object-fit: contain;
            max-width: 65%;

            img {
                width: 100%;
            }

            @media screen and ($tablet) {
                width: auto;
                margin: 16px;
            }
            @media screen and ($desktop) {
                width: auto;
                margin: 32px;
            }
        }
        &-description {
            justify-self: flex-start;
            margin: 32px;
            font-size: 16px;
        }
        &-info {
            font-size: 20px;
            margin: 32px;
            border: 1px #aeaeae solid;
            padding: 32px 16px;
        }

        padding-bottom: 32px;
    }

    &__donation {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__wanna-help {
            justify-self: center;
            margin: 32px;
            font-size: 32px;
        }

        .donate-form {
            @include formStyle;

            #label-amount {
                padding: 15px;
                width: 250px;
            }
    
            input {
                max-height: 75px;
            }
            
            &__submit-wrapper {
                display: flex;
                flex-direction: column;
            }

            #button-donate {
                @include button;
                display: block;
                width: 100%;
                height: 50px;
                font-size: 30px;
                margin: 16px 0;
                border-width: 2px;
                margin-top: 50px;
                border-radius: 15px;
                @media screen and ($desktop) {
                    max-width: 200px;
                    height: 60px;
                }
            }

            @media screen and ($tablet) {
                max-width: 500px;
            }
        }
    }
}