.section-login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    position: relative;
    margin: 0 auto;

    max-width: 90%;
    height: auto;

    input {
        margin: 8px;
        padding: 12px;
        font-size: 20px;
    }
    
    label {
        margin: 8px;
        padding: 8px;
        font-size: 16px;
    }

    &-submit {
        max-width: 200px;
    }
}
