* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    padding: 0, 25px;
    margin: 0, 25px;
}

html {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex: 1 0 auto;
}

.header {
    background-color: $secondaryColor;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    user-select: none;

    &__inner {
        max-width: 1280px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    &__rss {
        width: 100px;
        height: 60px;
        float: left;
        object-fit: contain;
    }

    &__nav {
        position: absolute;
        right: 20px;
        top: 20px;

        height: 40px;
        width: 100px;

        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        background-color: $transparent;
        border: none;

        z-index: 10;

        &:hover {
            cursor: pointer;
        }

        &__hamburger {
            overflow: scroll;
            &-active {
                top: 25px;
                width: 300px;
                a:first-of-type {
                    margin-top: 35px;
                }
            }

            &-line {
                position: absolute;

                z-index: 1;
                right: 20px;
                top: 15px;

                width: 50px;
                height: 3px;
                background-color: $primaryColor;

                &:nth-child(1) {
                    margin-top: -10px;
                }
                &:nth-child(2) {
                    margin-top: 0px;
                }
                &:nth-child(3) {
                    margin-top: 10px;
                }
                @media screen and ($desktop) {
                    display: none;
                }
            }
        }

        &-item {
            text-decoration: none;
            color: $primaryColor;

            font-weight: 600px;
            font-size: 18px;
            line-height: 50px;

            margin: 15px 0;
            margin-right: 60px;

            z-index: 5;

            border-top: 1px grey solid;

            display: none;
            @media screen and ($desktop) {
                display: block;
            }

            &-login {
                @media screen and ($desktop) {
                    display: none;
                }
            }

            &-logout {
                color: $error;
                border-color: $error;
            }

            &-hambi {
                text-align: right;
                margin: 0;
                width: 100%;
                left: 0;
                top: 0;
                display: block;
                background-color: $secondaryColor;
                padding: 5px 25px;
            }
        }

        @media screen and ($desktop) {
            display: flex;

            &:hover {
                cursor: initial;
            }

            transition: none;
            position: relative;
            top: 0;
            height: auto;
            width: auto;

            a {
                margin: 0 0 0 15px;
                padding-left: 15px;
                border: none;
                border-left: 5px grey solid;
                transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
                &:last-child {
                    padding-right: 15px;
                    border-right: 5px grey solid;
                }
                &:hover {
                    color: $highlightColor;
                }
            }
        }

        &-message {
            font-size: 12px;
            color: $highlightColor;
            @media screen and ($tablet) {
                font-size: 14px;
            }
            @media screen and ($desktop) {
                font-size: 16px;
            }
        }
    }
}

@mixin button {
    display: block;
    text-decoration: none;
    width: 100%;
    line-height: 40px;
    text-align: center;
    border-radius: 6px;
    background: $secondaryColor;
    color: $primaryColor;
    transition: all 0.3s ease-out;
    margin-top: 15px;

    &:hover {
        cursor: pointer;
        background: $highlightColor;
        color: $secondaryColor;
    }
}

.button {
    @include button();
}

input {
    border-radius: 5px;
    transition: all 0.2s linear;
    &:hover {
        box-shadow: 0 0px 5px $highlightColor;
    }
    &:focus {
        box-shadow: 0 0px 5px $focusColor;
        border: 2px $focusColor inset;
    }
}

.section {
    padding: 80px 0;
    max-width: 1280px;
    margin: 0 auto;

    &__title {
        margin-top: 50px;
        text-align: center;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 40px;
    }

    border-bottom: 1px #aeaeae solid;
}

.footer {
    background-color: $secondaryColor;
    width: 100%;
    height: auto;
    text-align: center;
    font-style: italic;
    color: $primaryColor;
}

@mixin message {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 10px 0px 15px 0;
    padding: 10px;
    color: $primaryColor;
    background-color: $secondaryColor;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    &:empty {
        display: none;
    }
    a {
        color: $primaryColor;
    }
}

.info {
    @include message;
    color: $lightSuccess;
    border: 2px $success solid;
}

.error {
    @include message;
    color: $lightError;
    border: 2px $error solid;
    font-size: 16px;

    &#global-error {
        @include message;
        color: $error;
        border: 5px $darkError double;
        font-size: 16px;

        position: fixed;
        top: 100px;
        left: 50px;
        width: auto;
        min-width: 300px;

        padding-right: 50px;

        opacity: 0.8;
        &:hover {
            opacity: 1;
            color: $lightError;
            border: 5px $error double;
        }

        text-align: center;

        #close-button {
            position: absolute;
            right: 5px;
            top: 2px;
            font-size: 20px;
            border: 1px $error solid;
            border-radius: 50%;
            padding: 1px 6px;
            color: $brightBorder;
            font-weight: 1000;
            &:hover {
                color: $error;
                cursor: pointer;
            }
        }
    }

    &-captcha {
        @include message;
        border: 2px orange solid;
        margin: 10px;
        padding: 15px;
        font-size: 20px;
    }
}

.table {
    width: auto;
    max-width: 95%;
    margin: 16px auto;
    border-collapse: collapse;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    border-color: $transparent;
    background-color: $transparent;

    display: block;
    overflow-x: auto;
    white-space: nowrap;
    background-color: $transparent;
    border-radius: 10px;
    max-width: max-content;

    @media screen and ($tablet) {
        margin: 12px auto;
        overflow-x: auto;
    }
    @media screen and ($desktop) {
        margin: 64px auto;
        display: table;
        overflow-x: none;
        white-space: nowrap;
        min-width: 500px;
        &:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }
    }

    caption {
        margin-bottom: 5px;
        font-size: 20px;
        @media screen and ($tablet) {
            font-size: 25px;
        }
        @media screen and ($desktop) {
            font-size: 32px;
        }
    }

    &__head {
        border-bottom: 5px $darkBorder double;
        border-left: 2px grey outset;
        border-right: 2px grey outset;
        background-color: $secondaryColor;
        color: $primaryColor;

        width: auto;
        height: auto;
        font-size: 16px;
        padding: 5px;

        @media screen and ($tablet) {
            min-width: 100px;
            height: 25px;
            font-size: 16px;
            padding: 7px;
        }
        @media screen and ($desktop) {
            min-width: 200px;
            height: 32px;
            font-size: 20px;
            padding: 12px;
        }

        &:first-child {
            border-left: none;
            border-top-left-radius: 5px;

            @media screen and ($tablet) {
                border-top-left-radius: 10px;
            }
            @media screen and ($desktop) {
                border-top-left-radius: 15px;
            }
        }
        &:last-child {
            border-right: none;
            border-top-right-radius: 5px;

            @media screen and ($tablet) {
                border-top-right-radius: 10px;
            }
            @media screen and ($desktop) {
                border-top-right-radius: 15px;
            }
        }
    }
    &__row {
        background-color: $brightBorder;

        &:nth-child(odd) {
            background-color: $primaryColor;
        }

        &:hover {
            background-color: $lightHighlightColor;
        }

        &-data {
            border: 1px lightgrey outset;
            color: $secondaryColor;
            font-size: 14px;
            padding: 5px;

            @media screen and ($tablet) {
                border-width: 2px;
                padding: 10px;
                font-size: 16px;
            }
            @media screen and ($desktop) {
                padding: 15px;
                font-size: 18px;
            }

            &:first-child {
                border-left: 1px $darkBorder outset;
                border-top-left-radius: 5px;
    
                @media screen and ($tablet) {
                    border-top-left-radius: 10px;
                }
                @media screen and ($desktop) {
                    border-top-left-radius: 15px;
                }
            }
            &:last-child {
                border-right: 1px $darkBorder outset;
                border-top-right-radius: 5px;
    
                @media screen and ($tablet) {
                    border-top-right-radius: 10px;
                }
                @media screen and ($desktop) {
                    border-top-right-radius: 15px;
                }
            }
        }
    }
}

.warning-exception {
    color: white;
}