$blackDim: #333333;
$tablet: "min-width: 800px";
$desktop: "min-width: 1300px";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    padding: 0, 25px;
    margin: 0, 25px;
}

html {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex: 1 0 auto;
}

.header {
    background-color: $blackDim;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    user-select: none;

    &__inner {
        max-width: 1280px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    &__rss {        
        width: 100px;
        height: 60px;
        float: left;
        object-fit: contain;
    }

    &__nav {
        position: absolute;
        right: 20px;
        top: 20px;

        height: 40px;
        width: 100px;

        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        background-color: transparent;
        border: none;

        z-index: 10;

        &:hover {
            cursor: pointer;
        }

        &__hamburger {
            overflow: scroll;
            &-active {
                top: 25px;
                width: 300px;
                a:first-of-type {
                    margin-top: 35px;
                }
            }
            
            &-line {
                position: absolute;
    
                z-index: 1;
                right: 20px;
                top: 15px;
    
                width: 50px;
                height: 3px;
                background-color: white;
    
                &:nth-child(1) {
                    margin-top: -10px;
                }
                &:nth-child(2) {
                    margin-top: 0px;
                }
                &:nth-child(3) {
                    margin-top: 10px;
                }
                @media screen and ($desktop) {
                    display: none;
                }
            }
        }

        &-item {
            text-decoration: none;
            color: #ffffff;

            font-weight: 600px;
            font-size: 18px;
            line-height: 50px;

            margin: 15px 0;
            margin-right: 60px;

            z-index: 5;

            border-top: 1px grey solid;

            display: none;
            @media screen and ($desktop) {
                display: block;
            }

            &-login {
                @media screen and ($desktop) {
                    display: none;
                }
            }
            
            &-logout {
                color: red;
                border-color: red;
            }

            &-hambi {
                text-align: right;
                margin: 0;
                width: 100%;
                left: 0;
                top: 0;
                display: block;
                background-color: $blackDim;
                padding: 5px 25px;
            }
        }

        @media screen and ($desktop) {
            display: flex;

            &:hover {
                cursor: initial;
            }
            
            transition: none;
            position: relative;
            top: 0;
            height: auto;
            width: auto;

            a {
                margin: 0 0 0 15px;
                padding-left: 15px;
                border: none;
                border-left: 5px grey solid;
                transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
                &:last-child {
                    padding-right: 15px;
                    border-right: 5px grey solid;
                }
                &:hover {
                    color: orange;
                }
            }
        }    
    }
}

@mixin button {
    display: block;
    text-decoration: none;
    width: 100%;
    line-height: 40px;
    text-align: center;
    border-radius: 6px;
    background: $blackDim;
    color: #ffffff;
    transition: all 0.3s ease-out;
    margin-top: 15px;

    &:hover {
        cursor: pointer;
        background: orange;
        color: $blackDim;
    }
}

.button {
    @include button();
}

input {
    border-radius: 5px;
    transition: all 0.2s linear;
    &:hover {
        box-shadow: 0 0px 5px orange;
    }
    &:focus {
        box-shadow: 0 0px 5px blue;
        border: 2px blue inset;
    }
}

.section {
    padding: 80px 0;
    max-width: 1280px;
    margin: 0 auto;

    &__title {
        margin-top: 50px;
        text-align: center;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 40px;
    }
}

.footer {
    background-color: $blackDim;
    width: 100%;
    height: auto;
    text-align: center;
    font-style: italic;
    color: white;
}

@mixin message {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 10px 0px 15px 0;
    padding: 10px;
    color: white;
    background-color: $blackDim;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    &:empty {
        display: none;
    }
    a {
        color: white;
    }
}

.info {
    @include message;
    color: lightgreen;
    border: 2px green solid;
}

.error {
    @include message;
    color: lightpink;
    border: 2px red solid;
    font-size: 16px;

    &-captcha {
        @include message;
        border: 2px orange solid;
        margin: 10px;
        padding: 15px;
        font-size: 20px;
    }
}

.table {
    margin: 64px auto;
    
    width: auto;
    max-width: 95%;
    border-collapse: collapse;

    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

    caption {
        margin-bottom: 5px;
        font-size: 32px;
    }

    &__head {
        background-color: orange;
        min-width: 200px;
        height: 32px;
        font-size: 18px;
        padding: 12px;

        border-left: 2px grey outset;
        border-right: 2px grey outset;

        &:first-child {
            border-top-left-radius: 15px;
            border-left: none;
        }
        &:last-child {
            border-top-right-radius: 15px;
            border-right: none;
        }
    }
    &__row {
        background-color: #fffdf6;

        &:hover {
            background-color: wheat;
            border: 1px orange solid;
        }

        &-data {
            border: 2px grey outset;
            padding: 10px;
            color: #120b47;
            &:first-child {
                border-top-left-radius: 15px;
                border-left: 1px grey outset;
            }
            &:last-child {
                border-top-right-radius: 15px;
                border-right: 1px grey outset;
            }
        }
    }
}