* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    padding: 0, 25px;
    margin: 0, 25px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: $defaultFontSize;
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex: 1 0 auto;
}

.header {
    background-color: $secondaryColor;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;

    user-select: none;

    &__inner {
        height: 80px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        @media screen and ($desktop) {
            justify-content: center;
            max-width: 100%;
        }
    }

    #header__rss {
        width: 100px;
        height: 60px;
        float: left;
        object-fit: contain;
    }

    #header__access {
        width: 100px;
        height: 60px;
        float: left;
        object-fit: contain;
        cursor: pointer;
    }

    &__nav {
        position: absolute;
        right: 20px;
        top: 20px;

        height: 40px;
        width: 100px;

        transition: $transitionQuick;
        background-color: $transparent;
        border: none;

        z-index: 10;

        &:hover {
            cursor: pointer;
        }

        &__hamburger {
            overflow: auto;
            &-active {
                top: 25px;
                width: 300px;
                a:first-of-type {
                    margin-top: 35px;
                }
            }

            &-line {
                position: absolute;

                z-index: 1;
                right: 20px;
                top: 15px;

                width: 50px;
                height: 3px;
                background-color: $primaryColor;

                &:nth-child(1) {
                    margin-top: -10px;
                }
                &:nth-child(2) {
                    margin-top: 0px;
                }
                &:nth-child(3) {
                    margin-top: 10px;
                }
                @media screen and ($desktop) {
                    display: none;
                }
            }
        }

        &-item {
            text-decoration: none;
            color: $primaryColor;

            font-weight: 600px;
            font-size: $defaultFontSize;
            line-height: 50px;

            margin: 15px 0;
            margin-right: 60px;

            z-index: 5;

            border-top: 1px grey solid;

            display: none;
            @media screen and ($desktop) {
                display: block;
            }

            &-login {
                @media screen and ($desktop) {
                    display: none;
                }
            }

            &-logout {
                color: $error;
                border-color: $error;
            }

            &-hambi {
                text-align: right;
                margin: 0;
                width: 100%;
                left: 0;
                top: 0;
                display: block;
                background-color: $secondaryColor;
                padding: 5px 25px;
            }
        }

        @media screen and ($desktop) {
            display: flex;

            &:hover {
                cursor: initial;
            }

            transition: $transitionLong;
            position: relative;
            top: 0;
            height: auto;
            width: auto;

            a {
                margin: 0 0 0 15px;
                padding-left: 15px;
                border: none;
                border-left: 5px grey solid;
                transition: $transitionLong;
                &:last-child {
                    padding-right: 15px;
                    border-right: 5px grey solid;
                }
                &:hover {
                    color: $highlightColor;
                }
            }
        }

        &-message {
            font-size: $smallFontSize;
            color: $highlightColor;
            @media screen and ($tablet) {
                font-size: $defaultFontSize;
            }
            @media screen and ($desktop) {
                font-size: $defaultFontSize;
            }
        }
    }
}

@mixin input {
    margin: 12px 0;
    padding: 10px;
    font-size: $defaultFontSize;
}

.input-text {
    @include input;
}

.input-number {
    @include input;
    max-width: 125px;
}

@mixin button {
    display: block;

    background: $secondaryColor;
    transition: $transitionQuick;

    width: 100%;
    min-width: 30px;
    max-width: 300px;

    line-height: 40px;
    text-align: center;
    font-size: $defaultFontSize;

    border-radius: 6px;
    color: $primaryColor;
    margin-top: 15px;
    margin-bottom: 10px;

    &:hover {
        cursor: pointer;
        background: $highlightColor;
        color: $secondaryColor;
    }
}

.button {
    @include button();
}

.button-damage {
    @include button();
    max-width: 100%;
}

#button-help {
    @include button;
    color: $lightSuccess;
    background-color: $focusColor;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: $largeFontSize;
}

input {
    border-radius: 5px;
    transition: $transitionQuick;
    &:hover {
        box-shadow: 0 0px 5px $highlightColor;
    }
    &:focus {
        box-shadow: 0 0px 5px $focusColor;
        border: 2px $focusColor inset;
    }
}

.section {
    padding: 120px 10px 0 30px;
    max-width: 1400px;
    margin: 0 auto;

    &__title {
        text-align: center;
        font-size: $largeFontSize;
        margin-bottom: 16px;
        font-weight: 600;
        @media screen and ($tablet) {
            font-size: $extraFontSize;
        }
    }

    border-bottom: 1px #aeaeae solid;
}

.footer {
    background-color: $secondaryColor;
    width: 100%;
    height: auto;
    text-align: center;
    font-style: italic;
    color: $primaryColor;
}

@mixin message {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 10px 0px 15px 0;
    padding: 10px;
    color: $primaryColor;
    background-color: $secondaryColor;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    &:empty {
        display: none;
    }
    a {
        color: $primaryColor;
    }
}

@mixin fixed-message {
    @include message;
    font-size: $defaultFontSize;
    color: $brightBorder;
    border: 5px $secondaryColor double;

    position: fixed;
    top: 100px;
    left: 50px;
    width: auto;
    min-width: 300px;

    padding-right: 50px;
    z-index: 999;

    opacity: 1;

    @media screen and ($desktop) and (pointer: fine) {
        opacity: 0.8;
    }

    &:hover {
        color: $primaryColor;
        border: 5px $highlightColor solid;
        @media screen and (pointer: fine) {
            opacity: 1;
        }
    }

    &:empty {
        display: none;
    }

    text-align: center;
}

.close-button {
    position: absolute;
    right: 5px;
    top: 2px;

    border: 1px $error solid;
    border-radius: 50%;
    padding: 6px 10px;

    font-size: 18px;
    color: $brightBorder;
    text-align: center;
    font-weight: 1000;

    &:hover {
        color: $error;
        cursor: pointer;
    }
    @media screen and ($desktop) {
        font-size: $defaultFontSize;
        padding: 1px 5px;
        top: 2px;
    }
}

.info {
    @include message;
    color: $lightSuccess;
    border-color: $success;
    &:hover {
        opacity: 1;
        color: $lightError;
        border-color: $error;
    }
}

.error {
    @include message;
    color: $lightError;
    border: 2px $error solid;
    font-size: $defaultFontSize;

    &-captcha {
        @include message;
        border: 2px orange solid;
        margin: 10px;
        padding: 15px;
        font-size: $defaultFontSize;
    }
}

.table {
    max-width: 95%;
    margin: 16px auto;
    border-collapse: collapse;
    transition: $transitionQuick;

    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;

    border-color: $transparent;
    background-color: $transparent;

    overflow-x: auto;
    display:block;
    white-space: nowrap;
    background-color: $transparent;
    border-radius: 10px;

    @media screen and ($tablet) {
        margin: 12px auto;
        overflow-x: auto;
    }
    @media screen and ($desktop) {
        margin: 64px auto;
        display: table;
        overflow-x: none;
        white-space: nowrap;
        &:hover {
            box-shadow: $shadowHover;
        }
    }

    caption {
        margin-bottom: 15px;
        font-size: $defaultFontSize;
        @media screen and ($tablet) {
            font-size: $largeFontSize;
        }
        @media screen and ($desktop) {
            font-size: $extraFontSize;
        }
    }

    &__head {
        border-bottom: 5px $darkBorder double;
        border-left: 2px grey outset;
        border-right: 2px grey outset;
        background-color: $secondaryColor;
        color: $primaryColor;

        width: auto;
        height: auto;
        font-size: $defaultFontSize;
        padding: 5px;

        @media screen and ($tablet) {
            min-width: 100px;
            height: 25px;
            font-size: $defaultFontSize;
            padding: 7px;
        }
        @media screen and ($desktop) {
            min-width: 200px;
            height: 32px;
            font-size: $defaultFontSize;
            padding: 12px;
        }

        &:first-child {
            border-left: none;
            border-top-left-radius: 5px;

            @media screen and ($tablet) {
                border-top-left-radius: 10px;
            }
            @media screen and ($desktop) {
                border-top-left-radius: 15px;
            }
        }
        &:last-child {
            border-right: none;
            border-top-right-radius: 5px;

            @media screen and ($tablet) {
                border-top-right-radius: 10px;
            }
            @media screen and ($desktop) {
                border-top-right-radius: 15px;
            }
        }
    }
    &__row {
        background-color: $brightBorder;

        &:nth-child(odd) {
            background-color: $primaryColor;
        }

        &:hover {
            background-color: $lightHighlightColor;
        }

        &-data {
            border: 1px lightgrey outset;
            color: $secondaryColor;
            font-size: $smallFontSize;
            padding: 5px;

            @media screen and ($tablet) {
                border-width: 2px;
                padding: 10px;
                font-size: $defaultFontSize;
            }
            @media screen and ($desktop) {
                padding: 15px;
                font-size: $defaultFontSize;
            }

            &:first-child {
                border-left: 1px $darkBorder outset;
                border-top-left-radius: 5px;

                @media screen and ($tablet) {
                    border-top-left-radius: 10px;
                }
                @media screen and ($desktop) {
                    border-top-left-radius: 15px;
                }
            }
            &:last-child {
                border-right: 1px $darkBorder outset;
                border-top-right-radius: 5px;

                @media screen and ($tablet) {
                    border-top-right-radius: 10px;
                }
                @media screen and ($desktop) {
                    border-top-right-radius: 15px;
                }
            }
        }
    }
}

.warning-exception {
    color: white;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: $secondaryColor;
    pointer-events: none;
}

#global-request {
    @include fixed-message;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;

    top: 0px;
    right: 10px;
    left: 10px;
    bottom: 0px;

    font-size: $defaultFontSize;
    border: 5px $highlightColor double;
    opacity: 1;

    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    padding: 50px 10px 50px 30px;

    @media screen and ($tablet) {
        font-size: $largeFontSize;
        padding: 75px 40px;
    }
    @media screen and ($desktop) {
        font-size: $extraFontSize;
        padding: 75px 40px;
    }
    .button {
        max-width: 300px;
    }
}
#global-error {
    @include fixed-message;
    color: $error;
    border-color: $darkError;
    max-width: 60%;
    display: none;

    top: 120px;
    left: 10px;

    &:hover {
        border: 5px $darkError solid;
    }
}
#global-info {
    @include fixed-message;
    display: none;
    border-color: $lightSuccess;

    top: 60px;
    left: 10px;

    &:hover {
        border-color: $success;
    }
}

#global-help {
    @include fixed-message;
    position: absolute;
    height: auto;
    max-width: 500px;
    transition: $transitionLong;
    border-top-right-radius: 25px;
    z-index: 10;
    #button-help__next {
        @include button;
        width: 100px;
        padding: 0;
    }
}

textarea {
    grid-column: 3 / span 3;
    max-width: 600px;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
        Courier New, monospace;
    font-size: $largeFontSize;
}
