.paging {
    border: 1px #aeaeae outset;
    max-width: 90%;
    border-radius: 5px;
    padding: 10px;
    margin: 32px auto;

    @media screen and ($tablet) {
        margin: 128px auto;
        width: 700px;
        border-radius: 15px;
        padding: 16px;
    }

    &:first-of-type {
        margin-top: 100px;
        @media screen and ($tablet) {
            margin-top: 112px;
        }
    }

    &:last-of-type {
        margin-bottom: 32px;
        @media screen and ($tablet) {
            margin-bottom: 100px;
        }
    }


    &-info {
        margin: auto;
        text-align: center;
        width: 90%;
        font-size: $smallFontSize;
        @media screen and ($tablet) {
            font-size: $extraFontSize;
        }
    }

    &-controls {
        display: flex;
        justify-content: space-between;

        progress {
            width: 100px;
            @media screen and ($tablet) {
                width: auto;
            }
        }

        button {
            border-radius: 5px;
            padding: 1px 5px;
            min-width: 32px;
            min-height: 32px;
            font-size: $smallFontSize;
            border: 1px $highlightColor thick;
            background-color: $brightBorder;

            @media screen and ($tablet) {
                width: 150px;
                border-radius: 15px;
                padding: 2px 25px;
                width: auto;
                min-height: 32px;
                font-size: $defaultFontSize;
            }

            &:hover {
                background-color: $highlightColor;
                cursor: pointer;
            }

            &:first-of-type,
            &:last-of-type {
                width: auto;
                @media screen and ($tablet) {
                    width: 200px;
                }
            }
        }
    }
}
