.section-register_form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: left;

    position: relative;
    margin: 0 auto;

    max-width: 90%;
    height: auto;

    &-submit {
        grid-area: 6 / 1 / span 1 / span 3;
        max-width: 200px;
    }

    input {
        grid-column: 3/4;
        margin: 8px;
        padding: 12px;
        font-size: 20px;
    }

    label {
        grid-column: 2/2;
        margin: 8px;
        padding: 8px;
        font-size: 16px;
    }

    @media screen and ($tablet) {
        display: grid;
        grid-template-columns: 10px auto auto 10px;
        grid-template-rows: 10px repeat(30px, 6) 10px;
    }
}