.section-search {
    margin-top: 100px;
    width: 100%;
    height: auto;
    transition: $transitionLong;

    display: flex;
    flex-direction: column;

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            height: 32px;
        }
        button {
            font-size: $smallFontSize;
            padding: 0 16px;
            margin: 0 5px;
            width: auto;
            height: auto;
        }
    }

    &__search-tags {
        text-align: center;
        color: $focusColor;
    }
}

.reported-damage {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 16px 5px 24px;
    margin: 16px;
    background-color: $brightBorder;
    border: 1px $darkBorder solid;
    border-radius: 15px;
    transition: $transitionQuick;

    box-shadow: $shadow;
    &:hover {
        box-shadow: $shadowHover;
    }

    @media screen and ($tablet) {
        width: 650px;
        margin: 25px auto;
    }

    @media screen and ($desktop) {
        width: 800px;
        margin: 32px auto;
    }

    h2 {
        text-align: center;
        padding-bottom: 8px;
        border-bottom: 1px $darkBorder solid;
        @media screen and ($desktop) {
            font-size: $extraFontSize;
        }
    }

    &__wrapper {
        @media screen and ($tablet) {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    &__description-wrapper {
        border-top: 1px $darkBorder solid;
        border-bottom: 1px $darkBorder solid;
        margin: 16px 0;
        padding-bottom: 16px;
        @media screen and ($tablet) {
            margin: 16px 32px;
        }
    }

    &__descriptor {
        margin-top: 16px;
        font-weight: 1000;
        padding-left: 5px;
    }

    &__content {
        margin-top: 5px;
        padding-left: 7px;
        &-error {
            text-align: center;
            color: $error;
        }
    }

    &__evidence {
        position: relative;
        align-self: center;

        width: auto;
        max-width: 80%;
        height: auto;
        max-width: 300px;

        margin-top: 32px;
        text-align: center;

        border-top: 1px $darkBorder solid;
        object-fit: fill;

        h4 {
            margin-top: 8px;
            margin-bottom: 16px;
            @media screen and ($desktop) {
                margin-top: 16px;
                margin-bottom: 32px;
                font-size: $largeFontSize;
            }
        }

        &-multimedia {
            img,
            video,
            audio {
                border-radius: 5px;
                width: 80%;
                height: 80%;
                object-fit: cover;
            }
        }
    }
}
