.section-register_form {
    display: grid;
    grid-template-columns: 10px auto auto 10px;
    grid-template-rows: 10px repeat(30px, 6) 10px;
    justify-content: center;
    align-items: left;

    position: relative;
    margin: 0 auto;

    max-width: 90%;
    height: auto;
}

.section-register_form>input {
    grid-column: 3/4;
    margin: 8px;
    padding: 12px;
    font-size: 20px;
}

.section-register_form>label {
    grid-column: 2/2;
    margin: 8px;
    padding: 8px;
    font-size: 16px;
}

.section-register_form-submit {
    grid-area: 6 / 1 / span 1 / span 3;
    max-width: 200px;
}