$primaryColor: white;
$secondaryColor: black;
$highlightColor: white;
$lightHighlightColor: white;
$focusColor: white;

$brightBorder: #fafafa;
$darkBorder: #b6b6b6;

$success: black;
$lightSuccess: black;

$lightError: black;
$error: lightgrey;
$darkError: black;

$overlay: black;
$shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$shadowHover: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$transitionQuick: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
$transitionLong: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

$extraFontSize: 40px;
$largeFontSize: 30px;
$defaultFontSize: 20px;
$smallFontSize: 25px;

$transparent: black;
$tablet: "min-width: 700px";
$desktop: "min-width: 1300px";

@import './main';

/* Pages */
@import './index';
@import './login';
@import './form';
@import './donation';
@import './administrator';
@import './moderator';

/* Controls */
@import './paging';


* {
    line-height: 50px;
    word-spacing: 15px;
}

section, form {
    display: flex;
    flex-direction: row;
}

input[type="checkbox"] {
    width: 35px;
    height: 25px;
}