* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  padding: 0, 25px;
  margin: 0, 25px;
}

html {
  height: 100%;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.header {
  background-color: #333333;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__inner {
  max-width: 1280px;
  height: 80px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__rss {
  width: 100px;
  height: 60px;
  float: left;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__nav {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 40px;
  width: 100px;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: transparent;
  border: none;
  z-index: 10;
}

.header__nav:hover {
  cursor: pointer;
}

.header__nav__hamburger {
  overflow: scroll;
}

.header__nav__hamburger-active {
  top: 25px;
  width: 300px;
}

.header__nav__hamburger-active a:first-of-type {
  margin-top: 35px;
}

.header__nav__hamburger-line {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 15px;
  width: 50px;
  height: 3px;
  background-color: white;
}

.header__nav__hamburger-line:nth-child(1) {
  margin-top: -10px;
}

.header__nav__hamburger-line:nth-child(2) {
  margin-top: 0px;
}

.header__nav__hamburger-line:nth-child(3) {
  margin-top: 10px;
}

@media screen and (min-width: 1300px) {
  .header__nav__hamburger-line {
    display: none;
  }
}

.header__nav-item {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600px;
  font-size: 18px;
  line-height: 50px;
  margin: 15px 0;
  margin-right: 60px;
  z-index: 5;
  border-top: 1px grey solid;
  display: none;
}

@media screen and (min-width: 1300px) {
  .header__nav-item {
    display: block;
  }
}

@media screen and (min-width: 1300px) {
  .header__nav-item-login {
    display: none;
  }
}

.header__nav-item-logout {
  color: red;
  border-color: red;
}

.header__nav-item-hambi {
  text-align: right;
  margin: 0;
  width: 100%;
  left: 0;
  top: 0;
  display: block;
  background-color: #333333;
  padding: 5px 25px;
}

@media screen and (min-width: 1300px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: none;
    transition: none;
    position: relative;
    top: 0;
    height: auto;
    width: auto;
  }
  .header__nav:hover {
    cursor: initial;
  }
  .header__nav a {
    margin: 0 0 0 15px;
    padding-left: 15px;
    border: none;
    border-left: 5px grey solid;
    -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .header__nav a:last-child {
    padding-right: 15px;
    border-right: 5px grey solid;
  }
  .header__nav a:hover {
    color: orange;
  }
}

.button {
  display: block;
  text-decoration: none;
  width: 100%;
  line-height: 40px;
  text-align: center;
  border-radius: 6px;
  background: #333333;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-top: 15px;
}

.button:hover {
  cursor: pointer;
  background: orange;
  color: #333333;
}

input {
  border-radius: 5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

input:hover {
  -webkit-box-shadow: 0 0px 5px orange;
          box-shadow: 0 0px 5px orange;
}

input:focus {
  -webkit-box-shadow: 0 0px 5px blue;
          box-shadow: 0 0px 5px blue;
  border: 2px blue inset;
}

.section {
  padding: 80px 0;
  max-width: 1280px;
  margin: 0 auto;
}

.section__title {
  margin-top: 50px;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
}

.footer {
  background-color: #333333;
  width: 100%;
  height: auto;
  text-align: center;
  font-style: italic;
  color: white;
}

.info {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 10px 0px 15px 0;
  padding: 10px;
  color: white;
  background-color: #333333;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: lightgreen;
  border: 2px green solid;
}

.info:empty {
  display: none;
}

.info a {
  color: white;
}

.error {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 10px 0px 15px 0;
  padding: 10px;
  color: white;
  background-color: #333333;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: lightpink;
  border: 2px red solid;
  font-size: 16px;
}

.error:empty {
  display: none;
}

.error a {
  color: white;
}

.error-captcha {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 10px 0px 15px 0;
  padding: 10px;
  color: white;
  background-color: #333333;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 2px orange solid;
  margin: 10px;
  padding: 15px;
  font-size: 20px;
}

.error-captcha:empty {
  display: none;
}

.error-captcha a {
  color: white;
}

/* Pages */
#testing_form {
  display: none;
  width: 175px !important;
  height: 175px !important;
  top: 525px !important;
  opacity: 0.25 !important;
}

@media screen and (min-width: 1300px) {
  #testing_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    text-align: center;
    position: absolute;
    right: 150px;
    top: 250px;
    padding: 15px 25px;
    border-radius: 15px;
    border: 1px black solid;
    background-color: #333333;
    background-color: white;
    width: 350px;
  }
  #testing_form:hover {
    border: 1px wheat solid;
    -webkit-box-shadow: 0 0px 5px wheat;
            box-shadow: 0 0px 5px wheat;
  }
  #testing_form input {
    margin: 8px;
    padding: 12px;
    font-size: 18px;
  }
  #testing_form h1 {
    font-size: 25px;
  }
  #testing_form-header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 1 / 2 / span 2 / span 2;
    margin-bottom: 25px;
    font-size: 16px;
  }
  #testing_form-submit {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    grid-area: 6 / 2;
    max-width: 128px;
  }
}

#testing_form input {
  margin: 0;
  opacity: 0.25;
}

#testing_form:hover {
  opacity: 1 !important;
}

#testing_form:hover input {
  opacity: 1;
  display: block;
}

.section-hero {
  height: 500px;
  background-image: url(../media/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

@media screen and (min-width: 800px) {
  .section-hero {
    height: 750px;
  }
}

.section-hero__overlay {
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
}

.section-hero__content {
  max-width: 1280px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 20px 20px 20px 20px;
}

@media screen and (min-width: 1300px) {
  .section-hero__content {
    margin: 20px 40% 0 150px;
  }
}

.section-hero__heading {
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 800px) {
  .section-hero__heading {
    font-size: 3em;
  }
}

.section-hero__subheading {
  margin-top: 12px;
  font-weight: 600;
  color: #ffffff;
}

.section-damage {
  padding: 0 15px 64px;
}

.section_damages {
  display: -ms-grid;
  display: grid;
  padding: 64px 15px;
  row-gap: 48px;
}

.section-login_popup {
  display: none;
}

@media screen and (min-width: 1300px) {
  .section-login_popup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    text-align: center;
    position: absolute;
    right: 150px;
    top: 250px;
    padding: 15px 25px;
    border-radius: 15px;
    border: 1px black solid;
    background-color: #333333;
    background-color: white;
    width: 350px;
  }
  .section-login_popup:hover {
    border: 1px wheat solid;
    -webkit-box-shadow: 0 0px 5px wheat;
            box-shadow: 0 0px 5px wheat;
  }
  .section-login_popup input {
    margin: 8px;
    padding: 12px;
    font-size: 18px;
  }
  .section-login_popup h1 {
    font-size: 25px;
  }
  .section-login_popup-header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 1 / 2 / span 2 / span 2;
    margin-bottom: 25px;
    font-size: 16px;
  }
  .section-login_popup-submit {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    grid-area: 6 / 2;
    max-width: 128px;
  }
}

@media screen and (min-width: 800px) {
  .section_damages {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 80px 32px;
  }
}

@media screen and (min-width: 768px) {
  .section-damage {
    padding: 0 25px 65px;
  }
}

@media screen and (min-width: 1024px) {
  .section-damage {
    margin: 0 auto;
    padding: 0 0 64px;
    max-width: 930px;
  }
  .section_damages {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding: 80px 0;
    max-width: 940px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1300px) {
  .section-damage {
    max-width: 1280px;
  }
  .section_damages {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    max-width: 1280px;
  }
}

.damages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.damages__damage {
  width: 350px;
  padding: 20px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  float: left;
  margin-right: 50px;
}

.damages__damage:last-child {
  margin-right: 0;
}

.damages__damage:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.damages__damage-figure {
  width: 100%;
  height: 220px;
  margin: 0;
  margin-bottom: 20px;
  border-radius: 6px;
  overflow: hidden;
}

.damages__damage-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background-color: #333333;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
  padding: 40px;
  font-size: 100%;
  text-align: center;
  font-style: italic;
}

.footer-description {
  font-size: 18px;
  color: #d0d0d0;
  margin: 0 auto;
}

.title {
  margin-top: 100px;
  text-align: center;
  color: red;
}

.damage-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #d0d0d0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 6px;
  padding: 10px;
}

.damage-card .damage-card:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.damage-card-card__title {
  font-size: 18px;
  padding: 10px 0 20px;
  border-bottom: 1px solid #d0d0d0;
  text-align: center;
  margin-bottom: 15px;
}

.damage-card-card__content {
  margin-bottom: 15px;
}

.damage-card-card__content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.damage-card-card__content-row:last-child {
  margin-bottom: 0;
}

.damage-card-card__item:last-child {
  text-align: right;
}

.damage-card-card__item-title {
  font-size: 12px;
  margin-bottom: 4px;
}

.damage-card-card__item-value {
  font-size: 12px;
}

.damage-info__figure {
  width: 100%;
  height: 230px;
  margin-bottom: 24px;
}

.damage-info__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.damage-info__content {
  margin-bottom: 15px;
}

.damage-info__content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 16px;
}

@media screen and (min-width: 800px) {
  .damage-info__content-row {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 800px) {
  .damage-info__content {
    margin-bottom: 0;
    width: 270px;
  }
}

@media screen and (min-width: 1300px) {
  .damage-info__content {
    width: 300px;
  }
}

.damage-info__item:last-child {
  text-align: right;
  margin-bottom: 0;
}

.damage-info__item-title {
  font-size: 14px;
  margin-bottom: 4px;
}

@media screen and (min-width: 1300px) {
  .damage-info__item-title {
    font-size: 16px;
  }
}

.damage-info__item-value {
  font-size: 14px;
}

.damage-info__item__description {
  font-size: 14px;
  line-height: 150%;
}

@media screen and (min-width: 800px) {
  .damage-info__item:last-child {
    text-align: right;
    margin-bottom: 0;
  }
  .damage-info__item-title {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .damage-info__item__description {
    width: 400px;
  }
}

@media screen and (min-width: 800px) and (min-width: 1300px) {
  .damage-info__item__description {
    width: 600px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1300px) {
  .damage-info__item {
    font-size: 16px;
  }
}

@media screen and (min-width: 800px) {
  .damage-info__figure {
    height: 230px;
    width: 400px;
  }
}

@media screen and (min-width: 1300px) {
  .damage-info__figure {
    height: 350px;
    width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .damage-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1300px) {
  .damage-info__figure {
    height: 450px;
    width: 800px;
  }
  .damage-info__content {
    width: 400px;
  }
  .damage-info__description {
    width: 800px;
  }
}

.section-login_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  position: relative;
  margin: 0 auto;
  max-width: 90%;
  height: auto;
}

.section-login_form input {
  margin: 8px;
  padding: 12px;
  font-size: 20px;
}

.section-login_form label {
  margin: 8px;
  padding: 8px;
  font-size: 16px;
}

.section-login_form-submit {
  max-width: 200px;
}

.section-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin: 0 auto;
  max-width: 90%;
  height: auto;
}

.section-form-error {
  text-align: left;
  left: 15px;
}

.section-form__submit-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}

.section-form__submit-wrapper input {
  min-width: 300px;
  min-height: 100px;
}

.section-form label {
  margin: 8px;
  padding: 8px;
  font-size: 16px;
}

.section-form input {
  margin: 8px;
  padding: 12px;
  font-size: 20px;
}

@media screen and (min-width: 800px) {
  .section-form {
    display: -ms-grid;
    display: grid;
    width: 100%;
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    -ms-grid-columns: 350px 10px auto 10px auto 10px 350px;
        grid-template-columns: 350px 10px auto 10px auto 10px 350px;
    row-gap: 10px;
  }
  .section-form label {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
  }
  .section-form input {
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 6;
  }
  .section-form__submit-wrapper {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 6;
  }
  .section-form__submit-wrapper input {
    min-height: 70px;
    min-width: 400px;
    margin: 0 100px;
  }
  .section-form .error {
    text-align: center;
    -ms-grid-column: 7;
        grid-column-start: 7;
  }
}
/*# sourceMappingURL=style.css.map */